@import url(http://fonts.googleapis.com/css?family=Roboto:700,400);
html,
body {
    font-family: 'Roboto', sans-serif;
    color: #666;
    font-size: 14px;
    font-weight: 400;
    background: #fff;
    overflow-x: hidden;
    padding-right: 0 !important 
}

p {
    font-size: 14px;
    line-height: 26px;
}

a {
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

#services h4 {
    font-size: 1.2rem;
}

/* ----------- login--------------- */

.main-section{
	margin: 0 auto;
	margin-top:100px;
	background-color: #fff;
	border-radius: 5px;
	padding: 0px;
}
.user-img{
	margin-top:-25px;
}
.user-img img{
	max-height: 100px;
	max-width: 100px;
}
.user-name{
	margin:10px 0px;
}
.user-name h1{
	font-size:30px;
	color:#676363;
}
.user-name .close{
	position: absolute;	
	top:-80px;
	right:10px;
    font-size:30px;
    outline: none;
    cursor: pointer;
}

#loginForm button,
#registrationForm button{
    background-color: #3498db !important;
    border-color: #3498db !important;
    cursor: pointer;
    margin-top: 15px;
}
.link-part{
	border-radius:0px 0px 5px 5px;
	background-color: #ECF0F1;
	padding:15px;
	border-top:1px solid #c2c2c2;
}

#registrationForm,
#registrationPanel{
    display: none;
}
#registrationPanel,
#loginPanel{
    cursor: pointer;
}
/* .open-modal{
	margin-top:-.5px !important;
}
.modal-backdrop {
    z-index: -1;
  } */
  
/* ----------- menu--------------- */

.bg-faded {
    background-color: transparent;

}

.bg-faded .nav-link {
    color: #fff;
    padding: 7px 14px;
    margin-left: 5px;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 2px;
}

.bg-faded .navbar-nav .nav-link:focus,
.bg-faded .navbar-nav .nav-link:hover {
    color: #3498db!important;
}

.bg-faded .menu-button .nav-link i {
    color: #3498db;
    border: 2px solid #3498db;
    padding: 8px 10px;
    text-align: center;
    border-radius: 5px;
    background-color: #ffffff;
    margin-left: -8px;
}

.navbar {
    justify-content: space-between;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1050;
    top: 0;
    right: 0;
    background: #000;
    opacity: 0.9;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 40px;
}

.sidenav a {
    padding: 18px 8px 8px 42px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 2px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a .logo {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px!important;
}

.sidenav a:hover {
    color: #3498db;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 185px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 25px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.menu-button {
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 768px) {
    .menu-items {
        display: none !important;
    }
    .menu-button {
        display: block !important;
    }
}


/* .bg-faded {
    background-color: transparent;
}

.white {
    color: black;
}

.bg-faded .navbar-nav .nav-link {
    color: #fff;
    padding: 7px 14px;
    margin-left: 5px;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 2px;
}

.bg-faded .navbar-nav .nav-link:focus,
.bg-faded .navbar-nav .nav-link:hover {
    color: #3498db!important;
}

.bg-faded .navbar-nav .active>.nav-link,
.bg-faded .navbar-nav .nav-link.active,
.bg-faded .navbar-nav .nav-link.open,
.bg-faded .navbar-nav .open>.nav-link {
    color: #3498db!important;
}

.bg-faded.navbar-toggler {
    border-color: #666;
    border-radius: 0px;
}

.bg-faded .navbar-toggler {
    float: right;
    margin: 14px;
}

.bg-faded .navbar-toggler i {
    color: #666!important;
} */


/* #hero-area {
    background: url(../img/hero-area.jpg) no-repeat;
    background-size: cover;
    color: #fff;
    overflow: hidden;
    position: relative;
}

#hero-area .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: #333;
    opacity: 0.9;
} */


/* @media (min-width: 768px) and (max-width: 1024px) {
    .section-header .section-title {
        font-size: 22px;
    }
    .bg-faded .navbar-nav .nav-link {
        padding: 8px 2px;
        font-size: 13px;
    }
    #hero-area .contents h1 {
        font-size: 26px;
    }
}

@media (max-width: 640px) {
    #hero-area .contents h1 {
        font-size: 24px;
    }
    .bg-faded {
        background: #fff!important;
    }
    .bg-faded .navbar-nav .nav-link {
        color: #666;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .bg-faded {
        background: #fff!important;
        padding: 0;
    }
    .bg-faded .navbar-nav .nav-link {
        color: #666;
    }
    .section-header .section-title {
        font-size: 20px;
    }
    #hero-area .contents h1 {
        font-size: 22px;
        line-height: 30px;
    }
    #hero-area .contents p {
        font-size: 14px;
        line-height: 22px;
    }
    #hero-area .contents .btn {
        margin: 10px;
    }
}

.fixed-top .scrolled {
    background-color: #fff !important;
    transition: background-color 200ms linear;
}

.fixed-top .scrolled .nav-link {
    color: #555;
} */


/* ----------- Header --------------- */

#header {
    background-image: url("../img/a.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 800px;
}

#header .box {
    background: rgba(153, 153, 153, .4);
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    width: 400px;
    top: 200px;
}

#header .box h3 {
    color: #fff;
    margin: 0;
}

#header .box p {
    color: #3498db;
    padding: 0 0 10px;
    margin: 0;
}

#header .box .form-group input.form-control {
    height: 46px;
    border: none;
    color: #000;
}

#header .box .form-group input.form-control:hover {
    outline: none!important;
}

#header .box .form-group input,
#header .box .form-group textarea {
    background-color: #fff!important;
    opacity: 1!important;
}

#header .box button[type="submit"] {
    display: inline-block;
    padding: 15px 0;
    border-radius: 4px;
    background: #3498db;
    font-size: 1.5em;
    color: #fff;
    text-transform: uppercase;
    transition: all .2s;
    width: 100%;
    border: none;
    margin-top: 10px;
}

@media (max-width: 767px) {
    #header .box {
        padding: 15px;
        top: 200px;
    }
    #header .box h3 {
        font-size: 20px;
        line-height: 1.2;
    }
    #header .box p {
        font-weight: 400;
        font-size: 1em;
    }
    #header .box .form-group input.form-control {
        height: 26px;
    }
    #header .box button[type="submit"] {
        padding: 10px 0;
        border-radius: 4px;
        background: #3498db;
        color: #fff;
        text-transform: uppercase;
        transition: all .2s;
        width: 100%;
        border: none;
        margin-top: 5px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    #header .box {
        padding: 15px;
        top: 200px;
    }
    #header .box h3 {
        font-size: 20px;
        line-height: 1.2;
    }

    #header .box .form-group input.form-control {
        height: 26px;
    }
    #header .box button[type="submit"] {
        padding: 10px 0;
        border-radius: 4px;
        background: #3498db;
        font-size: 1em;
        color: #fff;
        text-transform: uppercase;
        transition: all .2s;
        width: 100%;
        border: none;
        margin-top: 5px;
    }
}

@media (min-width: 320px) and (max-width: 766px) {
    #header .box {
        padding: 15px;
        top: 200px;
    }
    #header .box h3 {
        font-size: 20px;
        line-height: 1.2;
    }
    #header .box .form-group input.form-control {
        height: 26px;
    }
    #header .box button[type="submit"] {
        padding: 10px 0;
        border-radius: 4px;
        background: #3498db;
        color: #fff;
        text-transform: uppercase;
        transition: all .2s;
        width: 100%;
        border: none;
        margin-top: 5px;
    }
}

.section-header {
    margin-top: 40px;
    color: #fff;
    margin-bottom: 40px;
}

.section-header .section-title {
    font-size: 30px;
    margin-top: 0;
    padding: 30px 0 0px;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    letter-spacing: 1px;
}

.section-header .section-title:before {
    position: absolute;
    content: " ";
    width: 50px;
    top: 15px;
    margin-left: 0;
    margin-right: 0;
    border-top: 2px solid #3498db;
}

.section-header .section-subtitle {
    font-size: 14px;
    font-weight: 400;
    margin-top: 60px;
}


/* -----------about us--------------- */

#about {
    position: relative;
    overflow: hidden;
}

#about .section-header {
    color: #444;
}

#about #counter {
    background-color: #3498db;
    text-align: center;
    z-index: 999;
    position: relative;
    margin-top: 50px;
}

#about #counter .facts-item {
    padding: 20px 0;
}

#about #counter .facts-item .fact-count h3 {
    color: #fff;
    font-size: 42px;
    font-weight: 700;
}

#about #counter .facts-item .fact-count h4 {
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
}

#about .img-about-out {
    position: absolute;
    bottom: 235px;
    right: -10px;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .section-header .section-title {
        font-size: 22px;
    }
    #about .img-about-out {
        right: 5px;
    }
    #about .img-about-out img {
        width: 378px;
    }
}

@media (max-width: 767px) {
    #about .img-about-out {
        display: none;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    #about #counter.facts-item .fact-count h3 {
        font-size: 28px;
    }
    #about #counter .facts-item .fact-count h4 {
        font-size: 15px;
    }
    #about .img-about-out {
        display: none;
    }
}


/* -----------service--------------- */

.services .section-header .section-subtitle {
    padding-top: 20px;
}

.services {
    background: url(../img/a.png) fixed;
    background-size: cover;
    background-position: center bottom;
}

#services h4 {
    border-bottom: 1px solid #3498db;
    padding-bottom: 20px;
    display: inline-block;
    color: #fff;
}

#services p {
    color: #fff;
}

#services .space {
    margin-top: 40px;
}

#services i.fa {
    font-size: 36px;
    margin-right: 20px;
    color: #3498db;
    padding-bottom: 10px;
    display: block;
}

@media (min-width: 768px) and (max-width: 1024px) {
    #services .section-header .section-title {
        font-size: 22px;
    }
    #services h4 {
        font-size: 14px;
    }
    #services .service i.fa {
        font-size: 42px;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    #services .section-header .section-title {
        font-size: 20px;
    }
    #services h4 {
        font-size: 18px;
        margin-bottom: 7px;
    }
    #services .service {
        margin-bottom: 30px;
    }
    #services .service i.fa {
        font-size: 42px;
        line-height: 42px;
    }
}


/* -----------Team--------------- */

.section #team {
    padding: 80px 0;
}

.team-area .section-header {
    color: #666;
}

.single-team {
    background: #f6f6f6;
    border: 1px solid #f6f6f6;
    text-align: center;
    padding: 10px;
    overflow: hidden;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    margin-bottom: 10px;
}

.single-team img {
    width: 100%;
}

.single-team .team-content {
    padding: 20px 20px 0 20px;
}

.single-team h4 {
    color: #3498db;
    font-size: 18px;
    text-transform: uppercase;
}

.single-team h6 {
    font-size: 12px;
    color: #666;
    text-transform: uppercase;
    margin: 15px 0;
}

.single-team .team-social {
    padding-left: 0;
}

.single-team .team-social li {
    display: inline-block;
}

.single-team .team-social li a {
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

.single-team .team-social i {
    color: #3498db;
    font-size: 16px;
    margin: 0 3px;
    width: 32px;
    height: 32px;
    border: 1px solid #3498db;
    line-height: 32px;
    text-align: center;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.single-team .team-social i:hover {
    color: #fff;
}

.single-team .team-social .fa-facebook:hover {
    background-color: #3b5998;
    border-color: #3b5998;
}

.single-team .team-social .fa-twitter:hover {
    background-color: #55acee;
    border-color: #55acee;
}

.single-team .team-social .fa-dribble:hover {
    background-color: #D34836;
    border-color: #D34836;
}

.single-team .team-social .fa-flickr:hover {
    background-color: #ff0084;
    border-color: #ff0084;
}

.single-team .team-social .fa-youtube:hover {
    background-color: #CC181E;
    border-color: #CC181E;
}

.single-team .team-social .fa-google-plus:hover {
    background-color: #dd4b39;
    border-color: #dd4b39;
}

.single-team .team-social .fa-linkedin:hover {
    background-color: #007bb5;
    border-color: #007bb5;
}

.single-team:hover {
    box-shadow: 0 0 10px 1px rgba(76, 76, 76, 0.41);
}

@media (min-width: 768px) and (max-width: 1024px) {
    .single-team .team-content {
        padding: 10px 0;
    }
    /* .single-team .team-content ui li {
        width: 28px;
    } */
    .single-team h4 {
        font-size: 14px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .single-team .team-content .team-social i {
        width: 28px;
    }
    .single-team .team-social {
        text-align: center;
        padding-left: 0;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .single-team {
        margin-bottom: 30px;
    }
}


/* -----------pricing--------------- */
.nav-tabs{
    border-color: #3498db;
}
.nav-tabs .nav-link{
    border-radius: 0 0 0 0;
    color: #666;
}
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    border-color: #3498db #3498db #eee;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #fff;
    background-color: #3498db;
    border-color: #3498db #3498db #3498db;
}
.pricing-section .section-header {
    color: #444;
}

.plan-container {
    width: 28.75em;
    margin: 20px 0;
    border-radius: 5px;
    background-color: #fff;
    position: relative;
    top: 0;
    -webkit-transition: all 1s;
    transition: all 1s;
    padding-right: 5px;
    padding-left: 5px;
}

.plan-container:hover {
    cursor: pointer;
    position: relative;
    top: -10px;
    -webkit-transition: top 1s;
    transition: top 1s;
}

.plan-container .plan-header {
    padding: 10px 0;
    border-radius: 5px 5px 0 0;
    background-color: #3498db;
    text-align: center;
}

.plan-container .plan-header .icon-box {
    margin: 0 auto;
}

.plan-container .plan-header .icon-box .icon {
    font-size: 3.125em;
    color: #444;
}

.plan-container .plan-header h2 {
    color: #fff;
    font-weight: lighter;
    margin: 0;
    padding: 0.25em 0;
}

.plan-container .plan-header p {
    margin: 0;
    color: #333;
}

.plan-container .plan-details {
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border: 2px solid #DEDEDE;
}

.plan-container .plan-details ul {
    padding-left: 0;
    list-style: none;
}

.plan-container .plan-details ul li {
    border-top: 3px solid #e8edef;
    padding: 10px 0;
    font-weight: bold;
    color: #5f5f5f;
}

.plan-container .plan-details ul li:last-child {
    border-bottom: 3px solid #e8edef;
}

.plan-container .plan-details ul li span {
    font-weight: lighter;
    color: #777777;
}

.plan-container .plan-details p {
    background-color: #f4f4f4;
    margin: 2em 0;
    padding: 1.25em;
    font-size: 0.75em;
    line-height: 1.8;
    color: #999;
}

.plan-container .plan-details button {
    background-color: #3498db;
    padding: 10px 0;
    border-radius: 3px;
    color: #fff;
    text-align: center;
    width: 100%;
    border: 2px solid transparent;
    transition: 0.3s;
}

.plan-container .plan-details button:hover {
    color: #3498db;
    background-color: #ffffff;
    border: 2px solid #3498db
}


/* -----------work--------------- */

.client-slider{
    width: 90%;
    margin-left: 5%;
}

#clients .section-header {
    color: #444;
}

.single_featured img {
    width: 100%;
}

.single_featured_area {
    padding-bottom: 30px;
}


/* #work .second {
    margin-bottom: 30px;
} */

.single_featured:hover .featured_overlay {
    opacity: .8;
}

.featured_overlay {
    position: absolute;
    left: 10%;
    top: 10%;
    width: 80%;
    height: 70%;
    background: #3498db;
    opacity: 0;
    transition: .6s;
}

.overlay_content {
    text-align: center;
    margin: 25% auto;
    color: #fff;
}

.btn-white {
    border: 1px solid #fff;
    color: #fff;
    border-radius: 5px;
}

@media (min-width: 768px) {
    .featured_overlay {
        position: absolute;
        left: 13%;
        top: 10%;
        width: 75%;
        height: 65%;
        background: #3498db;
        opacity: 0;
        transition: .6s;
    }
}


/* business Section */

.business {
    background: url(../img/businessbg.jpg) no-repeat top center;
    background-size: cover;
}

.overlay_business {
    background: rgba(39, 39, 39, 0.55);
    padding: 100px 0px;
}

.main_business_content h2 {
    color: #fff;
    font-size: 30px;
    font-weight: 300;
}

.main_business_content h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}


/* -----------Footer--------------- */

.contact-icon {
    background: url(../img/service.jpg) fixed;
    background-position: 50% -210px;
    position: relative;
    margin-top: 80px;
}

.contact-icon .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: #000;
    opacity: 0.7;
    filter: alpha(opacity=90);
}

.contact-icon .box-icon {
    color: #fff;
    text-align: center;
    padding: 20px;
}

.contact-icon .box-icon .icon {
    font-size: 44px;
    margin-bottom: 10px;
}

.contact-icon .box-icon p {
    font-size: 16px;
    margin-bottom: 20px;
}

.contact-icon .box-icon .icon-primary {
    color: #df2626;
}

.contact-icon .box-icon .icon-secondary {
    color: #3498db;
}

.contact-icon .box-icon .icon-tertiary {
    color: #39a151;
}

footer .block-title {
    font-size: 20px;
    margin-bottom: 25px;
    position: relative;
}

footer .block-title::after{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    background-color: #3498db;
    width: 75px;
    height: 3px;
}

footer .footer-Content {
    background-color: #18191b;
    padding: 60px 0;
    color: #fff;
}

.textwidget {
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    color: #fff;
}

footer .menu {
    padding-left: 0;
}

footer .menu li {
    padding-bottom: 10px;
    list-style-type: none;
}

footer .menu li a {
    color: #fff;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
}

footer .menu li a:hover {
    color: #3498db;
}

.twitter-content ul li {
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.twitter-content span {
    float: left;
    width: 224px;
}

.twitter-content span a {
    color: #3498db;
}

.featured-list {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.featured-list li {
    float: left;
    width: 80px;
    height: 80px;
    margin-right: 7px;
    margin-bottom: 7px;
    overflow: hidden;
    position: relative;
}

.bottom-social-icons a {
    color: #fff;
    text-align: center;
    width: 32px;
    line-height: 32px;
    border-radius: 50px;
    border: 1px solid #fff;
    display: inline-block;
    height: 32px;
    margin-left: 5px;
    position: relative;
    overflow: hidden;
}

#copyright {
    background-color: #1d1e20;
    padding: 20px 0 10px;
    color: #fff;
}

#copyright p {
    line-height: 34px;
}

#copyright p a {
    color: #fff;
}

#copyright p a:hover {
    color: #3498db;
}

.social-icon .facebook:hover {
    background-color: #3b5998;
    border-color: #3b5998;
}

.social-icon .twitter:hover {
    background-color: #55acee;
    border-color: #55acee;
}

.social-icon .dribble:hover {
    background-color: #D34836;
    border-color: #D34836;
}

.social-icon .flickr:hover {
    background-color: #ff0084;
    border-color: #ff0084;
}

.social-icon .youtube:hover {
    background-color: #CC181E;
    border-color: #CC181E;
}

.social-icon .google-plus:hover {
    background-color: #dd4b39;
    border-color: #dd4b39;
}

.social-icon .linkedin:hover {
    background-color: #007bb5;
    border-color: #007bb5;
}

.subscribe-box {
    margin-top: 18px;
}

.subscribe-box input[type="text"] {
    color: #444;
    font-size: 12px;
    padding: 6px 12px;
    border: none;
    background: #fff;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    outline: none;
}

.subscribe-box input[type="submit"] {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    background: #3498db;
    text-transform: uppercase;
    border: none;
    padding: 7px 16px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

@media (min-width: 280px) and (max-width: 480px) {
    .widget {
        margin: 15px 0;
    }
    footer .menu {
        padding-left: 15px;
    }
    .pull-right {
        float: left;
    }
}

@media (min-width: 479px) and (max-width: 575px) {
    footer .menu {
        padding-left: 15px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .subscribe-box input[type="text"] {
        padding: 6px 10px;
    }
}

/* Back To Top Button */

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: none;
    padding: 10px;
}